<div class="container">

<div class="row">
  <div class="ideas8">
  	<div class="col-sm-3">
  		<img src='/look8.jpg' height="250" width="200">
  	</div>
  </div>
  <div class="ideas1">
  		<div class="col-sm-3">
  			<p class="one"></p>
  			<img src='/look1.jpg' height="250" width="200">
  		</div>
  	</div>
  <div class="ideas2"><p class="two"><div class="col-sm-3"><img src='/look2.jpg' height="250" width="200"></p></div>
  <div class="ideas3"><p class="three"><div class="col-sm-3"><img src='/look3.jpg' height="250" width="200"></p></div>
</div>


<div class="row">
  <div class="col-sm-3"><img src='/look4.jpg' height="250" width="200"></div>
  <div class="col-sm-3"><img src='/look5.jpg' height="250" width="200"></div>
  <div class="col-sm-3"><img src='/llok6.jpg' height="250" width="200"></div>
  <div class="col-sm-3"><img src='/look7.jpeg' height="250" width="200"></div>
</div>

 
</div>