<ul class="photo-grid">
  <li>
      <figure>
        <img src="/look1.jpg" height="500" width="320">
        <figcaption><p>Minifalda de tul negra</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look2.jpg" height="500" width="320" >
        <figcaption><p>Falda plisada maxi color rosa</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look3.jpg" height="500" width="320">
        <figcaption><p>Look3</p></figcaption>
      </figure>
  </li>
</ul>

<ul class="photo-grid">
  <li>
      <figure>
        <img src="/look4.jpg" height="500" width="320">
        <figcaption><p>Look1</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look5.jpg" height="500" width="320" >
        <figcaption><p>Look2</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look8.jpg" height="500" width="320">
        <figcaption><p>Look3</p></figcaption>
      </figure>
  </li>
</ul>

<ul class="photo-grid">
  <li>
      <figure>
        <img src="/look10.jpg" height="500" width="320">
        <figcaption><p>Look1</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look11.jpg" height="500" width="320" >
        <figcaption><p>Look2</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look12.jpg" height="500" width="320">
        <figcaption><p>Look3</p></figcaption>
      </figure>
  </li>
</ul>


