<div class="sup">
  IDEAS DE LOOKS BY LOOKFINDER
</div>
<div class="back">
  <div class="move">
<ul class="photo-grid">
  <li>
      <figure>
        <img src="/look1.jpg" height="500" width="320">
        <figcaption><p>Minifalda de tul negra</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look2.jpg" height="500" width="320" >
        <figcaption><p>Falda plisada maxi color rosa</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look3.jpg" height="500" width="320">
        <figcaption><p>LBD & Perfecto negra</p></figcaption>
      </figure>
  </li>
</ul>

<ul class="photo-grid">
  <li>
      <figure>
        <img src="/look4.jpg" height="500" width="320">
        <figcaption><p>Velvet body & falda de tul</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look5.jpg" height="500" width="320" >
        <figcaption><p>Maxi-Jersey</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look8.jpg" height="500" width="320">
        <figcaption><p>Maxi-Chaleco de pelo</p></figcaption>
      </figure>
  </li>
</ul>

<ul class="photo-grid">
  <li>
      <figure>
        <img src="/look10.jpg" height="500" width="320">
        <figcaption><p>Look total White</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look11.jpg" height="500" width="320" >
        <figcaption><p>Black jumpsuit & cinturón dorado</p></figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="/look12.jpg" height="500" width="320">
        <figcaption><p>Red Jumpsuit</p></figcaption>
      </figure>
  </li>
</ul>
</div>
</div>


