<div class="container">

<div class="row">
  <div class="col-sm-3">.col-sm-4</div>
  <div class="col-sm-3"><img src='/look1.jpg' height="250" width="200"></div>
  <div class="col-sm-3"><img src='/look2.jpg' height="250" width="200"></div>
  <div class="col-sm-3"><img src='/look3.jpg' height="250" width="200"></div>
</div>

<div class="row">
  <div class="col-sm-3"><img src='/look4.jpg' height="250" width="200"></div>
  <div class="col-sm-3">.col-sm-4</div>
  <div class="col-sm-3">.col-sm-4</div>
  <div class="col-sm-3">.col-sm-4</div>
</div>


</div>