<div class="show-profile">

Hello <strong><%= @user.name %></strong> <br>

Your requests:

<ul>
 <% @requests.each do |request| %>
<li>
     Producto: <p> <b><%= request.product %></b> </p>
      Place: <p> <%= request.place %> </p>
      Request realizada el: <p> <%= request.created_at %> </p>

</li>
  <% end %>

</ul>

</div>


