<h2>Hola. Se ha realizado una nueva búsqueda en tu área</h2>

Nombre de usuario: <%= @name %>
Producto buscado: <%= @request.product %>
E-mail de contacto: <%= @email %>
<br>

<img src="/LOGO.png">



