<h2>Hola. Se ha realizado una nueva búsqueda en tu área</h2>

Nombre de usuario: <%= @name %><br>
Producto buscado: <%= @request.product %><br>
E-mail de contacto: <%= @email %><br>
<br>

<strong>LOOKFINDER</strong>


