/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.container {
}

.welcome {
  background-color: #088A85;
  opacity: 0.6;
  border-radius: 10px;
  height: 100px;
  text-align: center;
  margin-top: 10px;
}

.response {
  background-color: #088A85;
  opacity: 0.6;
  border-radius: 10px;
  height: 100px;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.helpers {
  background-color: #088A85;
  opacity: 0.6;
  height: 40px;
}


.col-md-6 {
  height: 450px;
  margin-top: 30px;
}

.form {
  margin-left: 40px;
}

.sentence {
  padding: 10px;
}


.btn_lookFinder {

  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.6;
  background: #088A85;
  padding: 5px 40px 7px 40px;
  width: 400px;

}

.form_control {
	border-radius: 6px;
	width: 400px;
  height: 40px;
}

.select_control {
	  background: white;
   width: 400px;
   padding: 5px;
   font-size: 13px;
   line-height: 1;
   border: 1;
   border-radius: 0;
   height: 35px;
}

.row_one {
	margin-top: 15px;
	margin-bottom: 5px;
}

.row_four {
 margin-bottom: 20px;
}



.response {
	font-size: 16px;
	margin-left: 15px;
	margin-top: 10px;
}

.DBstores {
	margin-left: 15px;
}

.last_requests ul li {
display: inline;
}