/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

article {
/*   background-image: url("/rsz_background_gray.jpg");
  background-size: cover;
    background-repeat: no-repeat;*/
  overflow: scroll;
  height: 500px;
  
}


span {
  height: 550px;
}
.container {
 
}

p {
  font-size: 60px;
  font-style: bold;
}

.message {
  text-align: center;
  padding-top: 100px;
}

.welcome {
  background-color: #088A85;
  opacity: 0.6;
  border-radius: 10px;
  height: 100px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
}
.show {
  height: 500px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
.response {
  background-color: #088A85;
  opacity: 0.6;
  border-radius: 10px;
  height: 100px;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.helpers {
  background-color: #088A85;
  opacity: 0.6;
  height: 40px;
}


.col-md-6 {
  height: 450px;
  margin-top: 30px;
}

.form {
  margin-left: 40px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  color: black;
  font-weight: 700;
}


.sentence {
  padding: 10px;
  color: white;
}


.btn_lookFinder {

  border-radius: 9px;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  font-size: 18px;
  opacity: 0.6;
  background: #088A85;
  padding: 5px 40px 7px 40px;
  width: 400px;

}

.form_control {
	border-radius: 6px;
	width: 400px;
  height: 40px;
}

.select_control {
	  background: white;
   width: 400px;
   padding: 5px;
   font-size: 13px;
   line-height: 1;
   border: 1;
   border-radius: 0;
   height: 35px;
   color: gray;
}

.row_one {
	margin-top: 15px;
	margin-bottom: 5px;
}

.row_four {
 margin-bottom: 20px;
}

.response {
	font-size: 16px;
	margin-left: 15px;
	margin-top: 10px;
}

.DBstores {
	margin-left: 15px;
}

.last_requests ul li {
display: inline;
}

html {
  height: 100%;
  overflow: hidden;

}
body {
  color: black;
  margin:0;
  padding:0;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
header {
 /* box-sizing: border-box;*/
  min-height: 40vw;
 /* padding: 30vw 0 5vw;*/
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}
header, header:before {
  background: 50% 50% / cover;
}
header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-color: #8a8;
  background-image: url("/rsz_background_gray.jpg");
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
header * {
  font-weight: normal;
  margin: 0;
 /* padding: 1em 0;*/
}
header p {
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 15px;
    /*background-color: #3498db;*/
    height: 150px;
    color: #088A85;
font-family: 'Poiret One', cursive;
 
}
main {
  background-color: white;
  height: 200px;
  line-height: 1.7;
  max-width: 100%;
  padding: 5% calc(50% - 40em) 25%;
  position: relative;
  z-index: 2;
  text-align: justify;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.explication {
  width: 1000px;
  margin-left: 10%;
}
.titles {
  
  text-align: center;
  font-size: 18px;
  color: #088A85;
  margin-bottom: 20px;
  font-weight: bold;

}
.description {
  
    display: block;
    padding: 2px;
    padding-right: 40px;

}

