/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#map {
	height: 70vh;
	width: 70vh;
	border-radius: 5px;
}

.profile {
	padding-left: 60px;
	margin-bottom: 30px;
}

.info {
	background-color: #088A85;
	opacity: 0.6;
	color: white;
	border-radius: 5px;
}

.container {
	margin-left: 20px;
	margin-bottom: 10px;
}

.form_control {
	border-radius: 6px;
	width: 400px;
  height: 40px;
}

.btn_Save {

  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.6;
  background: #088A85;
  padding: 5px 40px 7px 40px;
  width: 400px;

}
.stores-list {
	height: auto;
	margin-top: 10px;
}

.store-list {
	display: block;
}