/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#map {
	height: 450px;
	width: 500px;
	border-radius: 5px;
}

#places {
	height: 450px;
	width: 500px;
	border-radius: 5px;
	background: url('/giphy.gif');
	background-size: cover;

}

.profile {
	padding-left: 60px;
	margin-bottom: 30px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
}

.show {
	height: auto;
	margin: auto;
}

.info {
	background-color: #088A85;
	opacity: 0.6;
	color: white;
	border-radius: 5px;
}

.container {
	margin-left: 20px;
	margin-bottom: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
}

.form_control {
	border-radius: 6px;
	width: 400px;
  height: 40px;
}

.form_control_area{
	border-radius: 6px;
	width: 400px;
  height: 155px;
}

.btn_Save {

  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.6;
  background: #088A85;
  padding: 5px 40px 7px 40px;
  width: 400px;

}
.stores-list {
	height: auto;
	margin-top: 10px;
}

.store-list {
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

.log_stores{
	height: 500px;
}

.edit {
	margin-left: 20px;
	height: 580px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

.notice {
	margin-left: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #088A85;

}