/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.show-profile {
	height: auto;
	margin-left: 20px;
	height: 500px;
}


.requests {
	padding: 5px;
}